/* DEFAULT SETTINGS */

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-image: url(images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::-webkit-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

*:-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

*::-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:vertica:active {
    background: rgb(0, 0, 0, 0.61);
    border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #000;
}

body input:required:invalid,
body textarea:required:invalid {
    color: #000;
}

html,
body {
    height: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}


/* DEFAULT SETTINGS */


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */

#header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #040404;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

#header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    color: white;
    align-items: center;
}

#header-logo {
    margin-top: 7px;
}

#header-navigation {
    text-transform: uppercase;
}

.header-navigation-link {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
}

.header-navigation-link:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: white;
    top: 100%;
    z-index: 1;
    transition: opacity .1s linear;
}

.header-navigation-link:hover:after {
    opacity: 1;
}

.header-button {
    height: 80px;
    width: 15%;
    display: inline-block;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 1rem 1.5rem;
}


/* SECTION */

#rules-outer {
    margin-top: 7%;
    margin-bottom: 3%;
    flex: 1 0 auto;
}

#rules-inner {
    width: 100%;
    color: white;
    margin: 0 auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 3px;
    clear: both;
}

#rules-heading {
    text-align: center;
}


/* FOOTER */

#footer {
    width: 100%;
    height: 140px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}

#footer-inner {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#footer-links {
    margin-left: 10px;
}

.links {
    color: white;
}

#quote {
    margin-right: 10px;
}


/* TYPICAL BLOCKS */

.outer {
    width: 20%;
    min-width: 500px;
    margin: 0 auto;
    height: 599px;
    flex: 1 0 auto;
}

.inner {
    display: flex;
    width: 80%;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.inputfield {
    width: 100%;
    height: 35px;
}

.inputfield:focus {
    border-color: white;
}

.button {
    background-color: black;
    display: inline-block;
    height: 36px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
}

.inner-form {
    width: 90%;
    margin: 0 auto;
}


/* ENTRANCE FORM */

#entrance-outer {
    padding-top: 11%;
}

#entrance-inner {
    height: 325px;
}

#entrance-heading {
    text-align: center;
}

.entrance-input {
    margin-top: 3%;
}

#entrance-inputfield-login {
    margin-bottom: 3%;
}

#button-signin {
    width: 30%;
    display: block;
}

#forgot-password {
    color: white;
    font-size: 12px;
}


/* ERROR MESSAGE */

#error-message {
    display: block;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}


/* REGISTRATION FORM */

#register-outer {
    padding-top: 6%;
}

#register-inner {
    margin-top: 2%;
    height: 450px;
    font-size: 14px;
}

#register-heading {
    text-align: center;
    margin-bottom: 7%;
}

.register-input {
    margin-bottom: 4%;
    margin-top: 2%;
}

#register-button {
    width: 70%;
    display: block;
}


/* CREATING LOBBY */

#lobby-outer {
    padding-top: 8%;
    width: 50%;
}

#lobby-container {
    max-width: 1000px;
}

.lobby-inner {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

#lobby-inner1 {
    height: 300px;
}

#lobby-inner2 {
    height: 320px;
}

.lobby-form {
    width: 100%;
}

#findlobby-button {
    margin-top: 5%;
    width: 70%;
    display: block;
}

.lobby-heading {
    text-align: center;
    margin-bottom: 3%;
}

.lobby-inputfield {
    margin-top: 4%;
    margin-bottom: 4%;
}

#players-number-select {
    width: 15%;
    border: none;
    margin-left: 3%;
}

#create-lobby-button {
    margin-top: 5%;
    width: 70%;
    display: block;
}


/* PASSWORD RESET */

#passwordreset {
    padding-top: 10%;
}

#passwordreset-inner {
    height: 270px;
}

#passwordreset-inputfield {
    width: 63%;
}

#passwordreset-button {
    width: 35%;
    margin-top: 0;
    font-size: 14px;
}


/* PROFILE PAGE */

#profile-outer {
    padding-top: 10%;
}

#profile-inner {
    height: 100px;
}

#username {
    text-transform: none;
}

#exit-button {
    width: 30%;
}

#activation-message {
    padding-top: 10%;
}